.headline {
    background-color: #333; /* Background color of the headline bar */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding to create space around the text */
    font-family: 'Roboto', sans-serif; /* Use Roboto font */
    font-weight: 700; /* Bold font weight */
    position: fixed; /* Fix the header at the top of the page */
    top: 0; /* Position at the top of the page */
    left: 0; /* Align left */
    width: 100%; /* Full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    z-index: 1000; /* Ensure it stays on top of other elements */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
}

.headline .icon {
    cursor: pointer;
    margin-left: 10px; /* Add some spacing between the icon and the text */
}

.headline .icon2{
    cursor: pointer;
    margin-right: 10px; /* Add some spacing between the icon and the text */
}


.headline-text {
    flex-grow: 1; /* Allow the text to take up remaining space */
    text-align: center; /* Center the text horizontally */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
  position: relative;
  background-color: #f5f5f5;
}

.container {
  width: 60%; /* Adjust the width of the container */
  max-width: 700px; /* Set a maximum width for larger screens */
}

#topText {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  font-family: 'Noto Sans', Arial, sans-serif;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 0px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.grid-container {
  position: absolute;
  top: calc(15%); /* Adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(4, 105px);
  grid-template-rows: repeat(4, 105px);
  justify-content: center;
  align-content: center;
}

.grid-cell {
  border: 0.05px solid black;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; /* Adjust the value as needed */
  background-color: #ffffff; /* Added semicolon */
  font-family: 'Roboto', sans-serif; /* You can replace 'Roboto' with your preferred font */
  font-size: 12px;
} /* Added closing curly brace */

.grid-cellnumber{
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Strait', sans-serif; /* You can replace 'Roboto' with your preferred font */
  font-size: 12px; /* Increased font size for better visibility */
  text-align: center; /* Center-align text */
  border-radius: 5px; /* Rounded corners */
background-color: rgb(209, 234, 224)
}

.grid-cell2 {
  border: 1px solid black;
  width: 95px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif; /* You can replace 'Roboto' with your preferred font */
  font-size: 12px; /* Increased font size for better visibility */
  text-align: center; /* Center-align text */

  border-radius: 5px; /* Rounded corners */

  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.grid-cell2 img {
  max-width: 50%;
  max-height: 50%;
  display: block;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  filter: contrast(100%) brightness(90%) blur(0);
  
}


@keyframes cellFill {
  0% {
    transform: scale(0.75); /* Start with smaller size */
    opacity: 0; /* Initially hide the text */
  }
  50% {
    transform: scale(1.1); /* Slightly increase size */
    opacity: 1; /* Show the text */
  }
  100% {
    transform: scale(1); /* Return to normal size */
  }
}

@keyframes cellVibrate {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-2px, -2px);
  }
  50% {
    transform: translate(2px, 2px);
  }
  75% {
    transform: translate(-2px, 2px);
  }
  100% {
    transform: translate(2px, -2px), scale(0.85);
  }
}

@keyframes starAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(0.92);
  }
}
.grid-cellsolved {
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif; /* You can replace 'Roboto' with your preferred font */
  font-size: 12px;
   font-weight: bold; /* Make the text bolder */
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #006600; /* Text color */
  border-radius: 5px; /* Adjust the value as needed */
  background-color: rgb(220, 246, 218);
  text-align: center; /* Justify text horizontally */
  /*animation: cellFill 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* Apply animation */
  animation: starAnimation 1s forwards;
    overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
 border: 2px solid #006600; /* Darker and less intense fluorescent green color */
  box-shadow: 0 0 10px #006600; /* Darker and less intense fluorescent green shadow */
margin-left: 3px; /* Adjust the margin as needed */
}

.grid-cellunsolved {
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif; /* You can replace 'Roboto' with your preferred font */
  font-size: 12px;
  font-weight: bold; /* Make the text bolder */
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #990000;; /* Text color */
  border-radius: 5px; /* Adjust the value as needed */
  background-color: rgb(248, 204, 204);
  text-align: center; /* Justify text horizontally */
  animation: starAnimation 1s forwards;
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
  text-decoration: line-through;
  border: 2px solid #990000; /* Darker and less fluorescent red color */
  box-shadow: 0 0 10px #990000; /* Darker and less fluorescent red shadow */
  margin-left: 3px; /* Adjust the margin as needed */
}

.grid-cell img {
  max-width: 40%;
  max-height: 40%;
  display: block;
}

.grid-cellsolved img {
  max-width: 40%;
  max-height: 40%;
  display: block;

  }

.grid-cell:hover {
  background-color: lightgray; /* Change background color to blue when hovered */
}


.modalarchive {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%); /* Adjust the first value (-60%) to move it more to the left */
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 9999;
}

.dateItem {
    cursor: pointer;
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-family: 'Strait', sans-serif; /* Use a cool font */
    font-size: 14px; /* Adjust font size */

}

.dateItem:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}



.modalarchive2 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%); /* Adjust the first value (-60%) to move it more to the left */
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 9999;
}

.dateItem2 {
    cursor: pointer;
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-family: 'Strait', sans-serif; /* Use a cool font */
    font-size: 14px; /* Adjust font size */

}

.dateItem2:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}







.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%); /* Adjust the first value (-60%) to move it more to the left */
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 9999;
}
.modal-content {
  width: 100%;
  padding: 80px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal input[type="text"] {
  width: 75%;
  padding: 8px;
  margin-bottom: 10px;
  border: 5px solid #ccc;
  border-radius: 3px;
  transition: $opacity-transition;
  font-family: "Inter", sans-serif;
}

/* Style for the suggestion list */
#nameList,
#nameElement {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Add this line to remove default margin */
  max-height: 200px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Add vertical scroll when content overflows */
}

/* Style for each suggestion item */
#nameList li,
#nameElement li {
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Roboto', sans-serif; /* You can replace 'Roboto' with your preferred font */
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333; /* Text color */
  border-bottom: 1px solid #ccc; /* Add a fine line below each item */
}

#nameList li:last-child,
#nameElement li:last-child {
  border-bottom: none; /* Remove the border from the last item */
}

#nameList li:hover,
#nameElement li:hover {
  background-color: #f0f0f0; /* Background color change on hover */
}

#nameElement {
  list-style-type: none;
  padding: 0;
  max-height: 150px; /* Adjust the maximum height as needed */
  overflow-y: auto; /* Add vertical scroll when content overflows */
}

/* Style for each suggestion item */
#nameElement li {
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Roboto', sans-serif; /* You can replace 'Roboto' with your preferred font */
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333; /* Text color */
  border-bottom: 1px solid #ccc; /* Add a fine line below each item */
}
#nameList li:last-child {
  border-bottom: none; /* Remove the border from the last item */
}



















.modal2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal2.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal2-dialog {
  position: relative;
  max-width: 1000px;
  max-height: 100vh;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
}

.modal2-dialog > * {
  padding: 1rem;
}

.modal2-header,
.modal2-footer {
  background: var(--lightgray);
}

.modal2-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal2-header .close-modal {
  font-size: 1.5rem;
}

.modal2 p + p {
  margin-top: 1rem;
}

.coolButton {
    background-color: rgb(111, 83, 238); /* Green background */
    border: none; /* Remove borders */
    font-family: 'Roboto', sans-serif; /* You can replace 'Roboto' with your preferred font */

    color: white; /* White text */
    padding: 10px 14px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Display as a block element */
    font-size: 12px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Cursor pointer */
    border-radius: 8px; /* Rounded corners */
    transition-duration: 0.4s; /* Transition duration */
}

.coolButton:hover {
    background-color: #0d0345; /* Darker green on hover */
}

.fluorescent-border {
border: 2px solid #00ff00; /* Fluorescent green color */
box-shadow: 0 0 10px #00ff00; /* Fluorescent green shadow */
   transition: border-color 1.3s, box-shadow 1.3s;
}

.fluorescent-border2 {
 border: 2px solid #990000; /* Darker and less fluorescent red color */
  box-shadow: 0 0 10px #990000; /* Darker and less fluorescent red shadow */
}
